@model Course

@{
    ViewData["Title"] = "Delete course";
}

<div class="auth">
    <a href="@Url.Action("Index")"><div class="back-arrow"></div></a>

    <h1 style="text-align:center">Edit Course</h1>
    <form asp-action="Edit" asp-route-id="@Model.Id">
        <div class="form-group">
            <label asp-for="Name">Course Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MaxCapacity">Max Capacity</label>
            <input asp-for="MaxCapacity" class="form-control" />
            <span asp-validation-for="MaxCapacity" class="text-danger"></span>
        </div>

        <button id="submit-button" type="submit" class="btn btn-primary">Save</button>
    </form>

    <script>
        var x = document.getElementsByClassName('pb-3');
        x[0].style.backgroundColor = "transparent";
        x[0].style.border = "0px";
        x[0].style.boxShadow = "0px 0px";
    </script>
</div>
